{% load static %}
<!-- Footer -->
<div class="col-12 align-self-end">
<footer class="row">
    <div class="col-12 bg-dark text-white pb-3 pt-5">
        <div class="row">
            {% if not request.get_full_path == "/register/" and not request.get_full_path == "/login/" %}
            <div class="col-lg-2 col-sm-4 text-center text-sm-right mb-sm-0 mb-3">
                <div class="row">
                    <div class="col-12">
                        <div class="footer-logo">
                            <a href="/"><img src="{% static 'shop/images/ecommercelogo.png' %}" alt="Ecommerce Store logo"></a>
                        </div>
                    </div>
                    <br>
                    <div class="col-12">
                        <address>
                            خیابان طلوع, منطقه ۱<br>
                            فارس, ایران
                        </address>
                    </div>
                    <div class="col-12">
                        <a href="#" class="social-icon" style="color:cornflowerblue;"><i class="fab fa-facebook-f"></i></a>
                        <a href="#" class="social-icon" style="color:deepskyblue;"><i class="fab fa-twitter"></i></a>
                        <a href="#" class="social-icon" style="color:dodgerblue;"><i class="fab fa-linkedin"></i></a>
                        <a href="#" class="social-icon" style="color:palevioletred;"><i class="fab fa-instagram"></i></a>
                        <a href="#" class="social-icon" style="color:red;"><i class="fab fa-youtube"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-8 text-center text-sm-left mb-sm-0 mb-3">
                <div class="row">
                    <div class="col-12 text-uppercase">
                        <h4>ما کی هستیم؟</h4>
                    </div>
                    <div class="col-12 text-justify">
                        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت حروفچینی دستاوردهای اصلی</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-sm-3 col-5 ml-lg-auto ml-sm-0 ml-auto mb-sm-0 mb-3">
                <div class="row">
                    <div class="col-12 text-uppercase">
                        <h4>لینک سریع</h4>
                    </div>
                    <div class="col-12">
                        <ul class="footer-nav">
                            <li>
                                <a href="#">خانه</a>
                            </li>
                            <li>
                                <a href="#">تماس با ما</a>
                            </li>
                            <li>
                                <a href="#">درباره ما</a>
                            </li>
                            <li>
                                <a href="#">سیاست حریم خصوصی</a>
                            </li>
                            <li>
                                <a href="#">وضعیت و قوانین</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-1 col-sm-2 col-4 mr-auto mb-sm-0 mb-3">
                <div class="row">
                    <div class="col-12 text-uppercase text-underline">
                        <h4>گزارش</h4>
                    </div>
                    <div class="col-12">
                        <ul class="footer-nav">
                            <li>
                                <a href="#">بازخورد ها</a>
                            </li>
                            <li>
                                <a href="#">ترابری</a>
                            </li>
                            <li>
                                <a href="#">بازگشت</a>
                            </li>
                            <li>
                                <a href="#">پیگیری سفارش</a>
                            </li>
                            <li>
                                <a href="#">کلاهبرداری</a>
                            </li>
                            <br />
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 text-center text-sm-left">
                <div class="row">
                    <div class="col-12 text-uppercase">
                        <h4>نامه های جدید</h4>
                    </div>
                    <div class="col-12">
                        <form action="#">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="ایمیل خود را وارد کنید..." required>
                            </div>
                            <div class="form-group p-3">
                                <button class="btn btn-outline-light text-uppercase">مشترک شدن</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            {% endif %}
            <div dir="ltr" class="col-md-12 text-center">
                <h4 style="background-color: #c0c0c0; color:black;">Copyright &copy; Muhammad Sameem - Redesign by Mohammad Javidi - upgrade to bootstrap5 and use carusel and etc ...</h4>
            </div>
        </div>
    </div>
</footer>
</div>
<!-- Footer - end-->
</div>
</div>
<!-- Page - end -->