{% load static %}<!-- Page -->
<div class="container-fluid">
<div class="row min-vh-100">
<!-- Header -->
<div class="col-12">
<header class="row">
{% include 'shop/partials/nav-top.html' %}
<div class="col-12 bg-white pt-4">
    <div class="row">
        <div class="col-md-4">
            <div class=" text-center text-lg-left">
                <a href="index.html"><img src="{% static 'shop/images/ecommercelogo.png' %}" alt="Ecommerce Store logo" width="150px"></a>
            </div>
        </div>
        <div class="col-md-4 mx-auto mt-4 mt-lg-0 text-lg-left">
            <form action="#">
                <div class="form-group">
                    <div class="input-group">
                        <input type="search" class="form-control border-dark" placeholder="Search..." required>
                        <div class="input-group-append">
                            <button class="btn btn-outline-dark"><i class="fas fa-search"></i></button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-4 text-center text-lg-right header-item-holder">
            <a href="#" class="header-item">
                <i class="fas fa-heart mr-2" style="color:red;"></i><span id="header-favorite">0</span>
            </a>
            <a href="cart.html" class="header-item">
                <i class="fas fa-shopping-bag mr-2" style="color:brown;"></i><span id="header-qty" class="mr-3">2</span>
                <i class="fas fa-money-bill-wave mr-2" style="color:seagreen;"></i><span id="header-price">$4,000</span>
            </a>
        </div>
    </div>
{% include 'shop/partials/nav-bar.html' %}
</div>
</header>
</div>
<!-- Header - end -->