<!-- Top Nav -->
<div class="col-12 bg-dark py-2 d-md-block">
    <div class="row">
        <div class="col-auto me-auto pt-2 pb-2">
            <ul class="top-nav">
                <li>
                    <a href="register.html"><i class="fas fa-user-edit me-2" style="color:lightskyblue;"></i>ثبت نام</a>
                </li>
                <li>
                    <a href="login.html"><i class="fas fa-sign-in-alt me-2" style="color:red;"></i>ورود</a>
                </li>
            </ul>
        </div>
        <div class="col-auto pt-2">
            <ul class="top-nav">
                <li>
                    <a href="tel:+99-938-123-4102"><i class="fa fa-phone-square me-2" style="color:lime;"></i>99-938-123-4102+</a>
                </li>
                <li>
                    <a href="mailto:mail@mail.com"><i class="fa fa-envelope me-2" style="color:yellow;"></i>mail@mail.com</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- Top Nav - end -->