{% extends 'shop/layout/main.html' %}
{% block title %}فروشگاه اینترنتی - سبد خرید{% endblock title %}
{% block body %}{% load static %}
{% include 'shop/partials/header.html' %}

<!-- Main Content -->
<div class="col-12">
<div class="row">
    <div class="col-12 mt-3 text-center text-uppercase">
        <h2>لیست کالاها</h2>
    </div>
</div>
<main class="row">
    <div class="col-12 bg-white py-3 mb-3">
        <div class="row">
            <div class="col-lg-6 col-md-8 col-sm-10 mx-auto table-responsive">
                <form class="row">
                    <div class="col-12">
                        <table class="table table-striped table-hover table-sm">
                            <thead>
                            <tr>
                                <th>نام کالا</th>
                                <th>قیمت</th>
                                <th>تعداد</th>
                                <th>قیمت واحد</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody id="dynamic">
<script>
// Open (or create) the database
var open = indexedDB.open("site_data");

// Create the schema
open.onupgradeneeded = function() {
    var db = open.result;
    var store = db.createObjectStore("cart", {keyPath: "id"});
    var index = store.createIndex("NameIndex", ["id",]);
};

open.onsuccess = function() {
    // Start a new transaction
    var db = open.result;
    var tx = db.transaction("cart", "readwrite");
    var store = tx.objectStore("cart");
    var index = store.index("NameIndex");

    // Query the data
    store.openCursor().onsuccess = function(event) {
        var cursor = event.target.result;
          if (cursor) {
              const para1 = document.createElement("tr");
              para1.setAttribute("id", "tr-"+cursor.value.id);
              const element1 = document.getElementById("dynamic");
              element1.appendChild(para1);

              const para2 = document.createElement("td");
              const node2 = document.createTextNode(cursor.key);
              para2.appendChild(node2);
              const node3 = document.createTextNode("----"+cursor.value.amount);
              para2.appendChild(node3);
              const element2 = document.getElementById("tr-"+cursor.value.id);
              element2.appendChild(para2);
              //document.write("Name for SSN " + cursor.key + " is " + cursor.value.id);
              cursor.continue();
          }
          else {
            console.log("No more entries!");
          }
    }   

    // Close the db when the transaction is done
    tx.oncomplete = function() {
        db.close();
    };
}
</script>
                            <!-- <tr>
                                <td>
                                    <img src="images/image-2.jpg" class="img-fluid">
                                    Optoma 4K HDR Projector
                                </td>
                                <td>
                                    $1,500
                                </td>
                                <td>
                                    <input type="number" min="1" value="1">
                                </td>
                                <td>
                                    $1,500
                                </td>
                                <td>
                                    <button class="btn btn-link text-danger"><i class="fas fa-times"></i></button>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <img src="images/image-3.jpg" class="img-fluid">
                                    HP Envy Specter 360
                                </td>
                                <td>
                                    $2,500
                                </td>
                                <td>
                                    <input type="number" min="1" value="1">
                                </td>
                                <td>
                                    $2,500
                                </td>
                                <td>
                                    <button class="btn btn-link text-danger"><i class="fas fa-times"></i></button>
                                </td>
                            </tr> -->
                            </tbody>
                            <tfoot>
                            <!-- <tr>
                                <th colspan="3" class="text-right">هزینه کل</th>
                                <th>40,000</th>
                                <th></th>
                            </tr> -->
                            </tfoot>
                        </table>
                    </div>
                    <div class="col-12 text-right">
                        <button class="btn btn-outline-secondary mr-3" type="submit">بروزرسانی</button>
                        <a href="#" class="btn btn-outline-success">تسویه حساب</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>
</div>
<!-- Main Content - end -->
{% include 'shop/partials/footer.html' %}
{% endblock body %}