{% extends 'shop/layout/main.html' %}
{% block title %}فروشگاه اینترنتی - خانه{% endblock title %}
{% block body %}{% load static %}
{% include 'shop/partials/header.html' %}
<!-- Main Content (Dynamic) -->
<div class="col-12">
<main class="row">
{% include 'shop/vendors/slider.html' %}
<!-- Featured Products -->
<div class="col-12 py-3">
    <div class="row">
        <div dir="ltr" class="col-4">
            <a class="btn btn-primary mb-3" href="#carousel-featured_products" role="button" data-bs-slide="next">
                <i class="fa fa-arrow-right"></i>
            </a>
        </div>
        <div class="col-4 text-center">
            <h2>محصولات ویژه</h2>
        </div>
        <div class="col-4">
            <a class="btn btn-primary mb-3 mr-1" href="#carousel-featured_products" role="button" data-bs-slide="prev">
                <i class="fa fa-arrow-left"></i>
            </a>
        </div>
    </div>
    <div class="col-12">
    <div id="carousel-featured_products" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        
        <div class="carousel-item active">
        <div class="row">

        {% comment %} use divisibleby for div -> post{% endcomment %}
        {% for data in special_product_list %}
        {% if forloop.counter < 9 %}
        {% if forloop.counter|divisibleby:5 %}
        
        </div>
        </div>

        <div class="carousel-item">
        <div class="row">

        {% endif %}
        <!-- Product {{ forloop.counter }} -->
        <div class="col-lg-3 col-sm-6 my-3">
            <div class="col-12 bg-white text-center h-100 product-item">
                <div class="row h-100">
                    <div class="col-12 p-0 mb-3">
                        <a href="#">
                            <img id="img-id-featured_products{{ forloop.counter }}" src="{{ data.image.url }}" class="img-fluid" >
                            <script>img_src("featured", {{ forloop.counter }})</script>
                        </a>
                    </div>
                    <div class="col-12 mb-3">
                        <a href="product.html" class="product-name">{{ data.name }}</a>
                    </div>
                    <div class="col-12 mb-3">
                        <span class="product-price-old">
                        {% if data.price_old is null %}
                        {% else %}
                            {{ data.price_old }} تومان
                        {% endif %}
                        </span>
                        <br>
                        <span class="product-price">
                            {{ data.price }} تومان
                        </span>
                    </div>
                    <div class="col-12 mb-3 align-self-end">
                        <button class="btn btn-outline-dark" type="button" onclick="add_cart({{ data.id }}, '{{ data.name }}', '{{ data.price }}')"><i class="fas fa-cart-plus mr-2"></i>افزودن به سبد خرید</button>
                        <button class="btn btn-outline-dark" type="button" onclick="remove_cart({{ data.id }}, '{{ data.name }}', '{{ data.price }}')">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart-dash-fill" viewBox="0 0 16 16"><path d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zM6.5 7h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1 0-1z"/></svg>
                        </button>
                        <hr />
                        <span id="amount-{{ data.id }}"><script>check_cart({{ data.id }});</script></span>
                    </div>
                </div>
            </div>
        </div>
        <!-- Product {{ forloop.counter }} - end-->
        {% endif %}
        {% endfor %}

        </div>
        </div>
    
    </div>
    </div>
    </div>

</div>
<!-- Featured Products - end -->

<div class="col-12">
    <hr>
</div>

<!-- Latest Product -->
<div class="col-12 py-3">
    <div class="row">
        <div dir="ltr" class="col-4">
            <a class="btn btn-primary mb-3" href="#carousel-latest_product" role="button" data-bs-slide="next">
                <i class="fa fa-arrow-right"></i>
            </a>
        </div>
        <div class="col-4 text-center">
            <h2>محصولات جدید</h2>
        </div>
        <div class="col-4">
            <a class="btn btn-primary mb-3 mr-1" href="#carousel-latest_product" role="button" data-bs-slide="prev">
                <i class="fa fa-arrow-left"></i>
            </a>
        </div>
    </div>
    <div class="col-12">
    <div id="carousel-latest_product" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        
        <div class="carousel-item active">
        <div class="row">

        {% for data in latest_product_list %}
        {% if forloop.counter|divisibleby:5 %}
        
        </div>
        </div>

        <div class="carousel-item">
        <div class="row">

        {% endif %}
        <!-- Product {{ forloop.counter }} -->
        <div class="col-lg-3 col-sm-6 my-3">
            <div class="col-12 bg-white text-center h-100 product-item">
                <div class="row h-100">
                    <div class="col-12 p-0 mb-3">
                        <a href="#">
                            <img id="img-id-latest_products{{ forloop.counter }}" src="{{ data.image.url }}" class="img-fluid" >
                            <script>img_src("latest", {{ forloop.counter }})</script>
                        </a>
                    </div>
                    <div class="col-12 mb-3">
                        <a href="product.html" class="product-name">{{ data.name }}</a>
                    </div>
                    <div class="col-12 mb-3">
                        <span class="product-price-old">
                        {% if data.price_old is null %}
                        {% else %}
                            {{ data.price_old }} تومان
                        {% endif %}
                        </span>
                        <br>
                        <span class="product-price">
                            {{ data.price }} تومان
                        </span>
                    </div>
                    <div class="col-12 mb-3 align-self-end">
                        <button class="btn btn-outline-dark" type="button" onclick="add_cart({{ data.id }}, '{{ data.name }}', '{{ data.price }}')"><i class="fas fa-cart-plus mr-2"></i>افزودن به سبد خرید</button>
                        <button class="btn btn-outline-dark" type="button" onclick="remove_cart({{ data.id }}, '{{ data.name }}', '{{ data.price }}')">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart-dash-fill" viewBox="0 0 16 16"><path d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zM6.5 7h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1 0-1z"/></svg>
                        </button>
                        <hr />
                        <span id="amount-{{ data.id }}"><script>check_cart({{ data.id }});</script></span>
                    </div>
                </div>
            </div>
        </div>
        <!-- Product {{ forloop.counter }} - end-->
        {% endfor %}

        </div>
        </div>
    
    </div>
    </div>
    </div>

</div>
<!-- Latest Products - end -->

<div class="col-12">
    <hr>
</div>

<!-- Top Selling Products -->
<div class="col-12 py-3">
    <div class="row">
        <div dir="ltr" class="col-4">
            <a class="btn btn-primary mb-3" href="#carousel-top_selling_products" role="button" data-bs-slide="next">
                <i class="fa fa-arrow-right"></i>
            </a>
        </div>
        <div class="col-4 text-center">
            <h2>محصولات پرفروش</h2>
        </div>
        <div class="col-4">
            <a class="btn btn-primary mb-3 mr-1" href="#carousel-top_selling_products" role="button" data-bs-slide="prev">
                <i class="fa fa-arrow-left"></i>
            </a>
        </div>
    </div>
    <div class="col-12">
    <div id="carousel-top_selling_products" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        
        <div class="carousel-item active">
        <div class="row">

        {% for data in top_selling_product_list %}
        {% if forloop.counter|divisibleby:5 %}
        
        </div>
        </div>

        <div class="carousel-item">
        <div class="row">

        {% endif %}
        <!-- Product {{ forloop.counter }} -->
        <div class="col-lg-3 col-sm-6 my-3">
            <div class="col-12 bg-white text-center h-100 product-item">
                <div class="row h-100">
                    <div class="col-12 p-0 mb-3">
                        <a href="#">
                            <img id="img-id-top_selling_products{{ forloop.counter }}" src="{{ data.image.url }}" class="img-fluid" >
                            <script>img_src("top_selling", {{ forloop.counter }})</script>
                        </a>
                    </div>
                    <div class="col-12 mb-3">
                        <a href="product.html" class="product-name">{{ data.name }}</a>
                    </div>
                    <div class="col-12 mb-3">
                        <span class="product-price-old">
                        {% if data.price_old is null %}
                        {% else %}
                            {{ data.price_old }} تومان
                        {% endif %}
                        </span>
                        <br>
                        <span class="product-price">
                            {{ data.price }} تومان
                        </span>
                    </div>
                    <div class="col-12 mb-3 align-self-end">
                        <button class="btn btn-outline-dark" type="button" onclick="add_cart({{ data.id }}, '{{ data.name }}', '{{ data.price }}')"><i class="fas fa-cart-plus mr-2"></i>افزودن به سبد خرید</button>
                        <button class="btn btn-outline-dark" type="button" onclick="remove_cart({{ data.id }}, '{{ data.name }}', '{{ data.price }}')">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart-dash-fill" viewBox="0 0 16 16"><path d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zM6.5 7h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1 0-1z"/></svg>
                        </button>
                        <hr />
                        <span id="amount-{{ data.id }}"><script>check_cart({{ data.id }});</script></span>
                    </div>
                </div>
            </div>
        </div>
        <!-- Product {{ forloop.counter }} - end-->
        {% endfor %}

        </div>
        </div>
    
    </div>
    </div>
    </div>

</div>
<!-- Latest Products - end -->

{% include 'shop/vendors/banner-end.html' %}

</main>
</div>
<!-- Main Content - end -->
{% include 'shop/partials/footer.html' %}
{% endblock body %}